.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box {
    background: lightblue;
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.grid-item {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}
.responsive-box {
    padding: 20px;
    text-align: center;
}
@media (max-width: 600px) {
    .responsive-box {
        background-color: lightseagreen;
    }
}